$kentigern-primary: #26934F;
$kentigern-primary-rgb: 38, 147, 79;
$kentigern-secondary: #942C26;

$bs-link-color-rgb: $kentigern-primary-rgb;

$kentigern-navbar: $kentigern-primary;
$kentigern-emphasis-color: $kentigern-secondary;
$kentigern-menu-color: #495057;

$font-family-sans-serif: "nunito", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:  "Source Code Pro",     SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
