{% extends "basic/layout.html" %}

{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}

{%- block extrahead %}
<meta charset='utf-8'>

<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1'>
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet"
      href='//fonts.googleapis.com/css?family=Lato:300,500%'/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
{% endblock %}





{# Silence the sidebars, relbars #}
{% block header %}{% endblock %}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}
{% block sidebarsourcelink %}{% endblock %}



{% block body_tag %}
  <body data-spy="scroll" data-target="#localtoc" data-offset="100" data-theme="light">
{%- endblock %}

{%- block content %}

{% include "navbar.html" %}

<div class="container-fluid" id="docs-container">
  
  <div class="row  justify-content-center">
    <div class="col col-lg-2 order-1 order-xl-1 toc-left">
      {%- block sidebarleft %}
      <!-- {% include "searchbox.html" %} -->
      {% include "sidebar-left.html" %}
      {% endblock %}
    </div>

    <div class="col col-md-2 order-3 order-xl-3 toc-right">
      {%- block sidebar1 %}
      {% include "sidebar-right.html" %}
      {% endblock %}
    </div>
    
    <div class="col col-md-8 content order-2 order-xl-2 col-xl-6" >

      {% include "bannerversion.html" %}
      {% include "breadcrumbs.html" %}
      
      {% block body %}
      
      {% endblock %}
    </div>

  </div>
  
  {%- endblock %}

{%- block footer %}
  {% include "footer.html" %}
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"  crossorigin="anonymous"></script>

    <script>
    $(document).ready(function(){
	$("#localtoc a").addClass("nav-link")
	$('body').scrollspy({ target: '#localtoc' })
    });
  </script>
{%- endblock %}
