{% extends "basic/layout.html" %}

{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}

{%- block extrahead %}
<meta charset='utf-8'>

<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<script src="{{ pathto('_static/darkmode.js', 1) }}"></script>
<script src="{{ pathto('_static/kentigern.js', 1) }}"></script>
<!-- <script src="{{ pathto('_static/node_modules/@popperjs/core/dist/umd/popper.min.js', 1) }}"></script> -->
<!-- <script src="{{ pathto('_static/node_modules/bootstrap/dist/js/bootstrap.min.js', 1) }}"></script> -->
{% endblock %}


{# Silence the sidebars, relbars #}
{% block header %}{% endblock %}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}
{% block sidebarsourcelink %}{% endblock %}



{% block body_tag %}
  <body>
{%- endblock %}

{%- block content %}

<a class="skip-nav" href="#main-content">Skip to main content</a>

<!-- Global TOC offcanvas — used on mobile/tablet (<xl) -->
<div class="offcanvas offcanvas-start" tabindex="-1"
     id="globalTocOffcanvas"
     aria-labelledby="globalTocOffcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="globalTocOffcanvasLabel">Contents</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    {% include "sidebar-left.html" %}
    {%- if toc %}
    <hr>
    <div class="tocsection pt-1">
      <p class="toctitle"><i class="bi bi-list"></i> On this page</p>
    </div>
    {{ toc }}
    {%- endif %}
  </div>
</div>

{% include "navbar.html" %}

<div class="container-fluid" id="docs-container">

  <div class="row justify-content-center">

    <div class="d-none d-xl-block col-xl-2 toc-left">
      {%- block sidebarleft %}
      {% include "sidebar-left.html" %}
      {% endblock %}
    </div>

    <div class="col-12 col-lg-9 col-xl-8 content pt-3" id="main-content">

      {% include "bannerversion.html" %}
      {% include "breadcrumbs.html" %}

      {% block body %}

      {% endblock %}
    </div>

    <div class="d-none d-lg-block col-lg-3 col-xl-2 toc-right">
      {%- block sidebar1 %}
      {% include "sidebar-right.html" %}
      {% endblock %}
    </div>

  </div>

  {%- endblock %}

{%- block footer %}
  {% include "footer.html" %}
{%- endblock %}
